@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Pierre's Bakery</h1>
  <h3>AMAZING Sweet and Savory Treats</h3>
</div>
<div class="row">
  <div class="col-md-3">
    <p>
      Organize and coordinate your Treats and their corresponding flavors!
    </p>
  </div>
  <div class="col-md-3">
    <h2>Flavors</h2>
    <p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</a></p>
  </div>
  <div class="col-md-3">
    <h2>Treats</h2>
    <p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
  </div>
  <div class="col-md-3">
    <h2>Register/Sign-In</h2>
    <p>@Html.ActionLink("Account Main Menu", "Index", "Account")</p>
  </div>
</div>